{% extends 'base/base.html' %}
{% block body %}
<div class="auth-container">
    <div class="auth-card">
        <h3>Recuperar Senha</h3>
        <p>Informe seu e-mail para receber um link de redefinição.</p>
        <form method="POST">
            {% csrf_token %}
            <div class="auth-group">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <button type="submit" class="auth-submit-btn">Enviar E-mail</button>
        </form>
    </div>
</div>
{% endblock %}